body.user-logged-in {
	.h1, .h2, .h3, h1, h2, h3 {
		margin-top: 0;
	}

	.panel-heading {
		.panel-title {
			a.accordion-toggle {
				padding-left: 0px;
			}
		}
	}
}

body.path-frontpage {
	article, h1 {
		/*display: none;*/
	}
}

body.login  {

	h1 {
		color: #4db3a5;
		text-align: center;
		font-size: 28px;
		font-weight: 400 !important;
	}

	h2.block-title {
		color: #4db3a5;
		text-align: center;
		font-size: 28px;
		font-weight: 400 !important;
	}

	form {

		div.form-item {
			label {
				/*display: none;*/
			}
		}

		div.form-actions {

			button {
				width: 100%;
			}
		}
	}
}

form.user-form {
	div.form-managed-file {
		input.form-file {
			height: 100%;
		}
	}
}

.custom_message {
	display: none !important;
}

.color_red {
	color: red !important;
	font-weight: normal;
}

.color_green {
	color: #26a69a !important;
	font-weight: normal;
}

.loan_name {
	margin-left: 3px;
}

.loan_header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	padding: 0 0 0 110px;
}

/* Ecommerce Override */
body {
	background-color: #3b434c !important;

	h1,h2,h3 {
		margin-top: 0px;
	}
	.panel-default {
		border-color: #60aee4;
	}
	/* table */
	table.table {
		border: 1px solid #ddd;
		thead {
			tr {
				th {
					background-color: #eee !important;
					font-size: 14px;
					font-weight: 600;
				}
				th,td {
					vertical-align: middle;
				}
			}
		}
		tbody {
			tr {
				th,td {
					vertical-align: middle;
				}
			}
		}
	}

	/* label */
	.label {
		color: #000;
	}
	.left_menu {
		float: left;
		margin-top: 5px;
		margin-right: 5px;
	}
	.right_menu {
		float: right;
	}
	/* checkboxes */
	/*.checkbox {
		input[type="checkbox"] {
			position: relative;
			margin-left: 0px;
			top: 2px;
		}
		input[type="checkbox"].form-checkbox {
			position: relative;
			margin-left: 0px;
			top: 2px;
		}
	} 
	.checkbox-inline input[type="checkbox"], 
	.radio input[type="radio"], 
	.radio-inline input[type="radio"] {
		position: relative;
		margin-left: 0px;
		top: 2px;
	}*/


	/* tabs */
	.nav-tabs {
		li {
			a {
				margin-right: 0px;
			}
		}
	}

	/* panel */
	.panel-default > {
		border-color: #60aee4;

		.panel-heading {
			color: #fff;
			background-color: #3598dc;
			border-color: #60aee4;
		}
	}

	/* form action button link */
	.form-actions {
		a {

		}
	}
	.input-group-addon {
		display: none;
	}

	/* cart block */
	.cart--cart-block {
		a.cart-block--link__expand {
			text-decoration: none;

			i.fa-shopping-cart {
				font-size: 32px;
			}
		}
		.cart-block {
			.view-content {
				table {
					margin-bottom: 0px;
					border: none;

					tr {
						td {
							background-color: #fff;
							border: none;
						}
					}
				}
			}
		}
	}
}