/* line 2, ../sass/custom.scss */
body.user-logged-in .h1, body.user-logged-in .h2, body.user-logged-in .h3, body.user-logged-in h1, body.user-logged-in h2, body.user-logged-in h3 {
  margin-top: 0;
}
/* line 8, ../sass/custom.scss */
body.user-logged-in .panel-heading .panel-title a.accordion-toggle {
  padding-left: 0px;
}

/* line 16, ../sass/custom.scss */
body.path-frontpage article, body.path-frontpage h1 {
  /*display: none;*/
}

/* line 23, ../sass/custom.scss */
body.login h1 {
  color: #4db3a5;
  text-align: center;
  font-size: 28px;
  font-weight: 400 !important;
}
/* line 30, ../sass/custom.scss */
body.login h2.block-title {
  color: #4db3a5;
  text-align: center;
  font-size: 28px;
  font-weight: 400 !important;
}
/* line 40, ../sass/custom.scss */
body.login form div.form-item label {
  /*display: none;*/
}
/* line 47, ../sass/custom.scss */
body.login form div.form-actions button {
  width: 100%;
}

/* line 56, ../sass/custom.scss */
form.user-form div.form-managed-file input.form-file {
  height: 100%;
}

/* line 62, ../sass/custom.scss */
.custom_message {
  display: none !important;
}

/* line 66, ../sass/custom.scss */
.color_red {
  color: red !important;
  font-weight: normal;
}

/* line 71, ../sass/custom.scss */
.color_green {
  color: #26a69a !important;
  font-weight: normal;
}

/* line 76, ../sass/custom.scss */
.loan_name {
  margin-left: 3px;
}

/* line 80, ../sass/custom.scss */
.loan_header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 0 0 0 110px;
}

/* Ecommerce Override */
/* line 90, ../sass/custom.scss */
body {
  background-color: #3b434c !important;
  /* table */
  /* label */
  /* checkboxes */
  /*.checkbox {
  	input[type="checkbox"] {
  		position: relative;
  		margin-left: 0px;
  		top: 2px;
  	}
  	input[type="checkbox"].form-checkbox {
  		position: relative;
  		margin-left: 0px;
  		top: 2px;
  	}
  } 
  .checkbox-inline input[type="checkbox"], 
  .radio input[type="radio"], 
  .radio-inline input[type="radio"] {
  	position: relative;
  	margin-left: 0px;
  	top: 2px;
  }*/
  /* tabs */
  /* panel */
  /* form action button link */
  /* cart block */
}
/* line 93, ../sass/custom.scss */
body h1, body h2, body h3 {
  margin-top: 0px;
}
/* line 96, ../sass/custom.scss */
body .panel-default {
  border-color: #60aee4;
}
/* line 100, ../sass/custom.scss */
body table.table {
  border: 1px solid #ddd;
}
/* line 104, ../sass/custom.scss */
body table.table thead tr th {
  background-color: #eee !important;
  font-size: 14px;
  font-weight: 600;
}
/* line 109, ../sass/custom.scss */
body table.table thead tr th, body table.table thead tr td {
  vertical-align: middle;
}
/* line 116, ../sass/custom.scss */
body table.table tbody tr th, body table.table tbody tr td {
  vertical-align: middle;
}
/* line 124, ../sass/custom.scss */
body .label {
  color: #000;
}
/* line 127, ../sass/custom.scss */
body .left_menu {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
/* line 132, ../sass/custom.scss */
body .right_menu {
  float: right;
}
/* line 160, ../sass/custom.scss */
body .nav-tabs li a {
  margin-right: 0px;
}
/* line 167, ../sass/custom.scss */
body .panel-default > {
  border-color: #60aee4;
}
/* line 170, ../sass/custom.scss */
body .panel-default > .panel-heading {
  color: #fff;
  background-color: #3598dc;
  border-color: #60aee4;
}
/* line 183, ../sass/custom.scss */
body .input-group-addon {
  display: none;
}
/* line 189, ../sass/custom.scss */
body .cart--cart-block a.cart-block--link__expand {
  text-decoration: none;
}
/* line 192, ../sass/custom.scss */
body .cart--cart-block a.cart-block--link__expand i.fa-shopping-cart {
  font-size: 32px;
}
/* line 198, ../sass/custom.scss */
body .cart--cart-block .cart-block .view-content table {
  margin-bottom: 0px;
  border: none;
}
/* line 203, ../sass/custom.scss */
body .cart--cart-block .cart-block .view-content table tr td {
  background-color: #fff;
  border: none;
}
